
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(56, 114, 61); 
}

#startButton{
    font-size: 26px;
    padding: 10px;
    border-radius: 10px;
}

.chips{
    font-size: 26px;
    text-align: center;
    margin: 20px;
    padding: 50px;
    border-radius: 50%;
    display: inline-block;

}
/* Yellow square for betting area. Bet amount will show up here */

/* Dealer chip tray - if I get this far */

#cpuHand{
    position: absolute;
    top: 50px;
    border: 2px solid yellow;
    margin: 0 auto;
    width: 200px;
    line-height: normal;
    text-align: center;
}

#playerHand{
    position: absolute;
    bottom: 50px;
    border: 2px solid yellow;
    margin: 0 auto;
    width: 200px;
    text-align: center;
}